.icon-hover {
  cursor: pointer;
}

.icon-hover:hover {
  color: #40a9ff;
}

.btn-green {
  background-color: #5cb85c;
  border-color: #4cae4c;
  color: #fff;
}

.btn-green:hover {
  background-color: #449d44;
  border-color: #398439;
}

.btn-yellow {
  background-color: #f0ad4e;
  border-color: #eea236;
  color: #fff;
}

.btn-yellow:hover {
  background-color: #ec971f;
  border-color: #d58512;
}

#loading {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* background: rgba(0, 0, 0, 0.75); */
  display: flex;
  /* align-items: center; */
  justify-content: center;
  z-index: 9999;
  /* font-size: 20px; */
}
